/* Add CSS transitions */
.mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .mobile-menu.open {
    max-height: 200px; /* Set a suitable max height for your menu */
  }
  
 /* CSS for the hamburger menu animation */
.ham div {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.ham.open div:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
}

.ham.open div:nth-child(2) {
  opacity: 0;
}

.ham.open div:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .reg{
    width: 100% !important;
   margin: 5rem 0 !important;
  }
  .log{
    width: 100% !important;
   margin: 5rem 0 !important;
  }
}

.shadow{
  box-shadow: 0 0 20px rgb(226 ,232, 240) !important;
}

@media screen and (min-width:768px) {
  .search{
    padding-right: 200px !important;
  }
  .cat-head{
    position: absolute;
    top: 90% !important;
    left: 47% !important;
    padding: 2px;
  }
}

.cat-head{
  position: absolute;
  top: 60%;
  left: 40%;
  border: 2px solid #000;
  cursor: pointer;
}
.cat-head:hover{
  background: #000;
  color: #fff;
  transition: 0.5s ease;
}

.cat:hover{
  opacity: 10;
}

